<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXzxDtwknxgYcm7Vm4_76-ZP9gUY6M18k</string>
	<key>GCM_SENDER_ID</key>
	<string>506642254679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookbuddy</string>
	<key>PROJECT_ID</key>
	<string>bookbuddy-62925</string>
	<key>STORAGE_BUCKET</key>
	<string>bookbuddy-62925.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506642254679:ios:a77ffdee726feecd4e0c12</string>
</dict>
</plist>